<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwstudy.booksmanagement.mapper.AdminInfoMapper">>


    <resultMap id="AdminInfoMap" type="com.lwstudy.booksmanagement.entity.AdminInfo">
        <id property="id" column="id" jdbcType="INT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="basic_column">
       id,
       name,
       password
    </sql>

    <insert id="insertAdmin">
        insert into admin (id, name, password) values
        (#{id}, #{name}, #{password})
    </insert>
    <update id="updateAdmin">
        update admin
        <set>
            <if test="password != null">
                password = #{password}
            </if>
        </set>
        while id = #{id}
    </update>

    <delete id="deleteAdminById">
        delete from admin
        where id = #{id}
    </delete>

    <select id="queryAdminByObject" resultType="java.lang.Integer">
        select
        <include refid="basic_column"/>
        from admin
        where id = #{id}, name = #{name}, password = #{password}
    </select>

</mapper>